/* Style The Dropdown Button */
.menubtn {
    background-color: #9C5500;
    color: white;
    padding: 1em;
    font-size: 2vw;
    border: none;
    cursor: pointer;
}
  
/* The container nav - needed to position the dropdown content */
.menu {
    display: inline-block;
    margin: 1vw;

}
  
/* Dropdown Content (Hidden by Default) */
.menu-content {
    position: absolute;
    display: none;
    background-color: #fff;
    width: 50vw;
    font-size: 2vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.menu-content a {
    color: black;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.menu-content a:hover {
    background-color: #c4c3c3;
}
  
/* Show the dropdown menu on hover */
.menu:hover .menu-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.menu:hover .menubtn {
    background-color: #cf822a;
}

.actual{
    color: #4ffa3c !important;
}